@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 0 10px rgba(255, 0, 0, 0.421);
  overflow: hidden;
  transition: box-shadow 0.8s, width 0.8s;
  width: 450px;
}

.card:hover {
  box-shadow: 10px 0 10px rgba(14, 134, 20, 0.295);
  cursor: pointer;
  width: 500px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animal-image,
.animal-name,
.animal-description,
.animal-details {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.animal-image {
  width: 100%;
  height: 290px;
  border-bottom: 2px solid #e0e0e0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 0.5s;
}

.animal-name {
  text-align: center;
  font-family: "Luckiest Guy", Verdana;
  font-size: 7.5vw;
  background-image: url(https://cdn.wallpapersafari.com/82/20/qef8KC.jpg);
  background-clip: text;
  color: transparent;
  background-size: cover;
}

.animal-description {
  margin: 3px 15px 15px 15px;
  color: #555;
  line-height: 1.4;
}

.animal-details {
  list-style-type: none;
  padding: 0;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
}

.animal-details li {
  border-top: 1px solid #e0e0e0;
  padding: 15px 0;
}

.animal-details li:first-child {
  border-top: none;
}
